# Xcode
DerivedData/
build/
*.xcuserstate
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store

# Fastlane and signing
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/
*.mobileprovision
*.cer
*.p12
